# See https://github.com/github/gitignore/blob/main/Next.js.gitignore

# Next.js
.next/
out/

# Dependencies
**/node_modules/
.pnp
.pnp.js

# UI Components (80+ files - TOO MUCH)
**/components/ui/

# Production
/dist
/build

# Environment
.env*

# ALL public/assets except ESSENTIALS
# public/blog_images/  # Commented to allow for Netlify
# public/data/         # Commented to allow for Netlify
# public/content/      # Commented to allow for Netlify
# public/videos/       # Commented to allow for Netlify
# public/pdfs/         # Commented to allow for Netlify
Docs/
scripts/

# Logs
*.log

# OS
.DS_Store

# Local Netlify folder
.netlify
MC-website-QnA/
social-media-assets/
mindcentre_capture/
redesign_previews/
